{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block central %}
    <h1>S'enregistrer</h1>
    <div class="col-3">
    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
     
        

        <button type="submit" class="btn btn-primary">
        <i class="fa fa-plus"></i>
        S'enregistrer</button>
    {{ form_end(registrationForm) }}
    
</div>
{% endblock %}
