{% extends 'base.html.twig' %}

{% block title %}
	Home |
	{{ parent() }}
{% endblock %}

{% block central %}
	<h1>Bucket List</h1>
    <div class="col-6">
	<table class="table table-striped">
		<tbody>
			{% for w in wishes %}
				<tr>
					<td><strong>{{ w.categ.name }}</strong></td>
					<td>{{ w.title }}</td>
					<td>
                    <a href="{{ path('detail',{id : w.id })}}" class="btn btn-primary">
                        <i class="fas fa-plus"></i>
                    </a>
                    </td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
    </div>
	{#w.date|format_datetime() "#}
	<br><br><br>
{% endblock %}
