{% extends 'base.html.twig' %}

{% block title %} Home | {{ parent() }}{% endblock %}

{% block central %}
<h1>Bucket List</h1>
    <ul>
    {% for w in wishes %}
        <li>{{w.id}} {{ w.title }}  {{ w.dateCreated|date("m/d/Y H:i:s") }}</li>
    {% endfor %}
    </ul>
  {#w.date|format_datetime() "#}
   <br><br><br>
{% endblock %}
